/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
*{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  /* background-color: whitesmoke; */
  color:white;
}

.Navbar
{
  padding:10px;
  display:flex;
  align-items:center;
  max-width:100%;
  margin:0px auto;
  border-bottom: 4px solid rgb(238, 7, 7)
}
nav a
{ color:white;
  font-size: 20px;
  padding: 8px;
  list-style: none;
  text-decoration: none;
  
}
.Navbar h2
{
  color:rgb(238, 7, 7);
  font-size: 30px;
}
.Links
{
  margin-left:auto;
}
/* .Links a.active {
  color: white;
  color:red;
  border-radius: 8px;
  width:25px;
} */
a.active {
  color: white;
  background-color: rgb(238, 7, 7); /* Set the background color to red */
  border-radius: 8px;
  padding: 8px 15px; /* Add padding for the desired width */
  display: inline-block; /* Make the link a block element */
  text-decoration: none; /* Remove underline for links */
}


 nav a:hover
{
  color:white;  
  border-radius: 8px;
  padding: 8px 15px; 
  background-color: gray;

  
} 
.content
{
border-bottom: 3px solid rgb(238, 7, 7);
}
.content h2
{
  color:rgb(238, 7, 7);
}
button
{
   padding:12px;
   margin-bottom: 7px;
   margin-left: 3px;
   font-size: 17px;
   border-radius: 6px;
   width:95px;
   font-weight: 500;
   color:white;
   
   background-color: rgb(59, 59, 59);
  
}
button:hover
{
  cursor:pointer;
 
  background-color: rgb(32, 32, 32);
}
.View h2
{
  color:rgb(238, 7, 7);
}
.Add
{
  align-items: center;
  justify-content: center;
  display: flex;
}
.Add input
{
  width:450px;
  height: 40px;
  font-size: 23px;
  border-radius: 4px;
  margin:8px;
  color:black;
}
.Add button
{
  position: relative;
  margin-top: 15px;
  top:20px;
  left:140px;
  font-weight: bold;
  color:white;
  
  background-color: rgb(59, 59, 59);
}
.Add button:hover
{
  cursor:pointer;
 
  background-color: rgb(32, 32, 32);
}
h2
{
  color:rgb(238, 7, 7);
  font-size: 30px;
}
.Loading
{
  color:black;
  font-size: 120px;
}
.Edit
{
  align-items: center;
  justify-content: center;
  display: flex;
}
.Edit input
{
  width:350px;
  height: 25px;
  border-radius: 4px;
  margin:8px;
}
.Edit button
{
  position: relative;
  margin-top: 15px;
  top:20px;
  left:140px;
}

.Practice
{
  height:500px;
  width:400px;
  background-color: rgb(31, 31, 31);
  border-radius: 6%;
  display: flex;
  justify-content: center;

align-items: center;
}
.Inside
{
  background-color: rgb(31, 31, 31);
}
.Inside button
{

  border-radius: 50%;
  position: relative;
  top:50px;
margin: 40px;
color:rgb(238, 7, 7);
  border: none;
  height:70px;
font-size: 25px;
  /* display: flex;
  justify-content: center;

align-items: center; */
}
h4
{
  font-size: 35px;
  height:220px;
  color:rgb(238, 7, 7);
  background-color:rgb(112, 111, 111); 
  border:2px solid rgb(238, 7, 7);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
}
/* App.css */
.background-image-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Set a negative z-index to place it behind the content */
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
p
{
  font-size: 20px;
}
.Redux
{
  padding:20px;
}
.Redux button
{
  padding:12px;
  margin-bottom: 7px;
  margin-left: 3px;
  font-size: 14px;
  border-radius: 6px;
  width:200px;
  font-weight: 500;
  color:white;
  
  background-color: rgb(59, 59, 59);
}
.Redux button:hover
{
  cursor:pointer;
 
  background-color: rgb(32, 32, 32);
}



